* {
    /* border: 1px solid; */
}

body {
    width: 900px;
    margin: 0 auto;
    /* margin-top: 60px; */
}


.my-name {
    font-family: BlackMango;
    font-weight: 200;
    font-size: 55px;
    letter-spacing: 15px;
    line-height: 1;
    float: right;
    margin: 0 60px 0 0;
    /* margin-bottom: 0px; */
    /* border: 1px solid; */
}

.my-last-name {
    font-family: Halimum;
    font-weight: 100;
    text-transform: none;
    font-size: 40px;
    /* line-height: 0.1; */
    /* border: 1px solid; */
    float: left;
    margin: 5px 0 0 0;
}

.my-work-name {

    font-family: BeVietnamPro;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    text-align: center;
    /* padding-top: 120px; */
}

p {

    font-family: BeVietnamPro;
    font-weight: 200;
    font-size: 17px;
}

h1 {
    font-family: BeVietnamPro;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    /* background-color: brown; */
    /* margin-top: 50px; */
}


.My-photo {
    width: 350px;
    border-radius: 15px;
    /* height: ; */
}

.logo-rsschool {
    width: 100px;
}

.parent {
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    /* margin-top: 10px; */
}

.child-text {
    /* background-color: rgb(221, 221, 221); */
    width: 50%;
}

.child-photo {
    margin-right: 50px;
    /* background-color: rgb(221, 221, 221); */
    width: 50%;
    text-align: center;
    /* margin-top: 80px; */
}

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgb(221, 221, 221);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    /* position: absolute; */
    bottom: 0;
    width: 900px;
    align-items: center;
}

.education {
    display: flex;
}

.work {
    /* background-color: blue; */
    width: 35%;
    line-height: 0.5;
    margin-top: -15px;
}

.data {
    text-align: center;
    /* background-color: blue; */
    width: 30%;
    margin-left: 100px;
    line-height: 0.5;
    margin-top: -15px;
}

/* .experience {
    margin-top: 140px;
} */

.grey-block-1 {
    height: 80px;
    width: 50%;
    background-color: rgb(221, 221, 221);
    margin: 0 auto;
}

.grey-block-2 {
    height: 60px;
    width: 50%;
    background-color: rgb(221, 221, 221);
    margin: 0 auto;
    margin-top: -4px;
}

.grey-block-3 {
    height: 40px;
    width: 50%;
    background-color: rgb(221, 221, 221);
    margin: 0 auto;
}

.grey-block-4 {
    height: 80px;
    width: 50%;
    background-color: rgb(221, 221, 221);
    margin: 0 auto;
}

.contact {
    margin-top: 20px;
}

.skills {
    margin-top: 20px;
}

.line-1 {
    height: 1px;
    width: 81%;
    background-color: black;
    margin: 0 auto;

}

.line-2 {
    height: 1px;
    width: 81%;
    background-color: black;
    margin: 0 auto;
    margin-top: 20px;
}

.line-3 {
    height: 1px;
    width: 81%;
    background-color: black;
    margin: 0 auto;
}

.line-4 {
    height: 1px;
    width: 81%;
    background-color: black;
    margin: 0 auto;
}

/* .icon-phone {
    height: 17px;
    margin-right: 15px;
}

.icon-mail {
    height: 13px;
    margin-right: 15px;
}

.icon-telegram {
    height: 23px;
    margin-right: 15px;
}

.icon-discord {
    height: 23px;
    margin-right: 15px;
} */

/* .contact-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-mail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-telegram {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-discord {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.contact p {
    margin: 0;
    line-height: 1.7;
}

.contact h1 {
    margin: 0;
    margin-bottom: 10px;
}



@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Black.ttf");
    font-weight: 600;
}






@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Black.ttf");
    font-weight: 600;
}






@font-face {
    font-family: Halimum;
    src: url("assets/fonts/Halimum/Halimun.ttf");
}