* {
    /* border: 1px solid; */
}

body {
    width: 1000px;
    margin: 0 auto;
    /* margin-top: 60px; */
    background-image: url(assets/images/background-leaves.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    color: white;
}

p, li {

    font-family: BeVietnamPro;
    font-weight: 200;
    font-size: 17px;
    color: white;
}








nav {
    width: 1300px;
    margin: 0 auto;
    top: 0;
    background-color: rgba(0, 0, 0, 0.749);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: -150px;
    /* position: sticky; */
    margin-bottom: 50px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin-right:20px;
    margin-top: 0;
}

nav a {
    font-family: BeVietnamPro;
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
}

nav ul li {
    list-style-type: none;
    /* margin: 0 auto;
    margin-left: -3px; */
    padding: 20px;
    padding-left: 0;
}









.content {
    background-color: rgba(0, 0, 0, 0.749);
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    /* margin-top: 10px; */
    width: 1000px;
    margin: 0 auto;
    /* border: 1px solid; */
    border-radius: 50px;
    margin-bottom: 50px;
    /* background-color: white;
    opacity: 70%; */
    box-shadow: 0px 0px 40px 0 black;
    padding-bottom: 100px;
}

/* ___________________________________________________ HISTORY ___________________ */

.history {
    /* background-color: rgb(221, 221, 221); */
    width: 50%;
    /* margin-top: 60px; */
    margin-right: 70px;
    margin-left: 25px;
}

/* .history h1 {
    padding-left: 3px;
} */

.history h2 {
    margin-right: -10px;
    /* margin-left: 20px; */
    /* background-color: rgba(221, 221, 221, 0.16); */
    text-align: center;
    font-family: BeVietnamPro;
    padding: 20px;
    border-radius: 30px;
    /* margin: 0; */
    margin-top: 41px;
    margin-bottom: 80px;
    box-shadow: inset 0px 0px 40px 0 black;
    background-image: url(assets/images/background-leaves.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    backdrop-filter: blur(20px);
}

.history h3 {
    font-family: BeVietnamPro;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
    /* background-color:rgb(221, 221, 221); */
    margin-top: 50px;
    /* margin-left: -15px; */
}

.my-name {
    font-family: BlackMango;
    font-weight: 200;
    font-size: 55px;
    letter-spacing: 15px;
    line-height: 1;
    float: right;
    margin: 0 50px 0 0;
    /* margin-bottom: 0px; */
    /* border: 1px solid; */
    background: none;
}

.my-last-name {
    font-family: Halimum;
    font-weight: 100;
    text-transform: none;
    font-size: 40px;
    /* line-height: 0.1; */
    /* border: 1px solid; */
    float: left;
    margin: 5px 0 0 0;
    margin-top: -20px;
    margin-bottom: 20px;
    background: none;
}

.my-work-name {

    font-family: BeVietnamPro;
    font-weight: 200;
    font-size: 18px;
    letter-spacing: 10px;
    /* margin-bottom: 80px; */
    /* margin-top: 50px; */
    text-align: center;
    /* padding-top: 420px; */
    height: 0;
    width: 0;
}

.education p {
    /* border-bottom: 1px dotted rgb(145, 145, 145); */
    /* border-width: 3px; */
    /* padding-right: -50px; */
}

.education span {
    /* position: relative; */
    /* bottom: -11px; */
    /* background-color: rgb(255, 255, 255, 0.65); */
    /* padding-right: 20px; */
}

.education .data {

    float: right;
    padding-right: 50px;
    /* padding-left: 20px; */
}

.language p{
    margin: 0;
    line-height: 1.7;
}

/* ____________________________________________ INFORMATION ___________________ */

.information {
    margin-right: 25px;
    /* background-color: rgb(221, 221, 221); */
    width: 50%;
    text-align: center;
    /* margin-top: 80px; */
    margin-left: 50px;
}

.information h2 {
    font-family: BeVietnamPro;
    padding: 20px;
    border-radius: 30px;
    margin: 0;
    box-shadow: inset 0px 0px 40px 0 black;
    background-image: url(assets/images/background-leaves.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
}

.information h3 {
    margin-top: 25px;
    font-family: BeVietnamPro;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}

.My-photo {
    width: 350px;
    border-radius: 15px;
    /* height: ; */
    filter: brightness(80%)
}

.contact {
    margin-top: 20px;
}

.contact li {
    /* margin: 0; */
    line-height: 2;
    margin-right: 39px;
    list-style-type: none;
    
}

/* .contact h1 {
    margin: 0;
    margin-bottom: 20px;
} */

.skills {
    margin-top: 20px;
}

.skills li {
    /* margin: 0; */
    line-height: 2;
    margin-right: 40px;
    list-style-type: none;
}

.grey-block-0 {
    height: 40px;
    width: 50%;
    /* background-color: rgb(51, 51, 51); */
    background-color: rgb(18, 34, 13);
    margin: 0 auto;
}

.grey-block-1 {
    height: 80px;
    width: 50%;
    /* background-color: rgb(221, 221, 221); */
    background-color: rgb(18, 34, 13);
    margin: 0 auto;
}

.grey-block-2 {
    height: 60px;
    width: 50%;
    background-color: rgb(18, 34, 13);
    margin: 0 auto;
    margin-top: -5px;
}

.grey-block-3 {
    height: 40px;
    width: 50%;
    background-color: rgb(18, 34, 13);
    margin: 0 auto;
    margin-top: 1px;

}

.grey-block-4 {
    height: 80px;
    width: 50%;
    background-color: rgb(18, 34, 13);
    margin: 0 auto;
    margin-top: 1px;
}

.line-1 {
    height: 1px;
    width: 81%;
    background-color: white;
    margin: 0 auto;

}

.line-2 {
    height: 1px;
    width: 81%;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
}

.line-3 {
    height: 1px;
    width: 81%;
    background-color: white;
    margin: 0 auto;
}

.line-4 {
    height: 1px;
    width: 81%;
    background-color: white;
    margin: 0 auto;
    margin-top: 30px;
}

/* __________________________________________________ FOOTER ___________________ */

footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.685);
    backdrop-filter: blur(20px);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    /* position: absolute; */
    bottom: 0;
    width: 800px;
    align-items: center;
    padding-top: 5px;
    margin: 0 auto;
    /* margin-left: -100px; */
    padding-right: 30px;
    padding-left: 30px;

}

/* footer p {
    margin-left: 30px;
} */

footer .github {
    margin-left: 200px;
    font-size: 22px;
    font-family: BeVietnamPro;
    font-weight: 600;
}

.logo-rsschool {
    width: 90px;

}

a {
    text-decoration: none;
    color: black;
    filter: invert(1);
    border-bottom: 0px solid white;
    /* transition: 5s; */

}

a:visited {
    color: black;
    filter: invert(1);
}

a:hover {
    border-bottom: 1px solid black;
    /* text-decoration: solid; */
    transition: 0.5s;

    
}








/* .icon-phone {
    height: 17px;
    margin-right: 15px;
}

.icon-mail {
    height: 13px;
    margin-right: 15px;
}

.icon-telegram {
    height: 23px;
    margin-right: 15px;
}

.icon-discord {
    height: 23px;
    margin-right: 15px;
} */

/* .contact-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-mail {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-telegram {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-discord {
    display: flex;
    align-items: center;
    justify-content: center;
} */




@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: BeVietnamPro;
    src: url("assets/fonts/BeVietnamPro/BeVietnamPro-Black.ttf");
    font-weight: 600;
}






@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Thin.ttf");
    font-weight: 100;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Light.ttf");
    font-weight: 200;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Regular.ttf");
    font-weight: 300;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: BlackMango;
    src: url("assets/fonts/BlackMango/BlackMango-Black.ttf");
    font-weight: 600;
}






@font-face {
    font-family: Halimum;
    src: url("assets/fonts/Halimum/Halimun.ttf");
}